---
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/Icons/LinkedInIcon.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Design System portfolio.dev"
  description="A collection of UI components and patterns built with Tailwind CSS."
>
  <SectionContainer class="py-44 pb-32 ">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;Badge&gt;</h1>


      <Badge>Disponible</Badge>
    </article>
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;SocialPill&gt;</h1>
      <div class="flex">
        <SocialPill href="https://www.linkedin.com/in/linkdx/">
          <LinkedInIcon class="size-5" />LinkedIn
        </SocialPill>
      </div>
    </article>
  </SectionContainer>
</Layout>
