<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
  <div class="[&>p]:mb-4 md:w-[50%]">
    <p>
      Mi nombre es Omar, desde pequeño me interesaron las computadoras y los
      programas, siempre me pregunté cómo se hacían, a mís 14 años obtuve mi
      primera computadora, muy sencilla, ahí fue cuando empecé en este mundo.
    </p>
    <p>
      Más adelante, conseguí mi primer empleo y armé mi computadora con la cual
      trabajo al día de hoy y decidí estudiar una carrera en Informática.
    </p>
    <p>
      Desde ese entonces he aprendido mucho, desde cero, de manera autodidacta,
      realizando proyectos y aplicandolo en distintas áreas de mi vida.
    </p>
  </div>
  <img
    src="/ME.webp"
    alt="Imagen de mi perfil"
    class="size-64 rounded-full object-cover object-top"
  />
</section>
