<div
  class="inline-flex h-full animate-background-shine cursor-pointer items-center justify-center rounded-full border border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] gap-2 px-3 py-1 text-xs font-medium text-gray-300"
>
  <div class="animate-pulse size-2.5 bg-green-500 rounded-full relative"></div>
  <div class="text-sm font-medium">
    <slot />
  </div>
</div>
