---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Freelancer",
    date: "Presente",
    description: "Empezando a buscar mi primer trabajo.",
    //link: "#", para poner links
  },
  {
    title: "Lola Lolitaland",
    date: "10/03/2025",
    description:
      "Contribución en la versión móvil de la página del evento lolalolitaland",
    link: "https://github.com/midudev/lolalolitaland.com",
    //link: "#", para poner links
  },
  {
    title: "La Velada del Año 5",
    date: "10/03/2025 - Presente",
    description:
      "Contribución - arreglando errores en la versión web en el apartado de sponsors",
    link: "https://github.com/midudev/la-velada-web-oficial",
    //link: "#", para poner links
  },
];
---

<ol class="relative border-s border-gray-200 ml-3 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
