<footer
  class="mx-auto flex max-w-3xl flex-col justify-between gap-1 px-4 py-3 text-center text-sm text-muted-foreground md:flex-row"
>
  <p>Build with ❤️</p><p>Almost all rights reserved</p>
</footer>
