---
// Supports weights 100-900
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LinKDxLogo.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/TwitterCardImg.png" />
    <meta
      name="twitter:site:domain"
      content="https://portafolio-linkdx.vercel.app/"
    />
    <meta
      property="twitter:title"
      content="Omar Monsivais - Desarrollador Web - Portafolio"
    />
    <meta
      property="twitter:description"
      content="Omar es un Desarrollador autodidacta que desarrolla sitios desde cero."
    />
    <meta name="twitter:url" content="https://portafolio-linkdx.vercel.app/" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: "Onest Variable", sans-serif;
    font-family: system-ui, sans-serif;
    background-color: #212538;
    color: white;
    scroll-behavior: smooth;
  }
  header {
    background: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 30px;

    animation: cambiar linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 10%;
  }

  #galaxia {
    mask-image: linear-gradient(black 80%, transparent);
  }
  @keyframes cambiar {
    to {
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      color: black;
    }
  }

  ,
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
